$td-enable-google-fonts: false;
$google_font_name: "Lato";
$google_font_family: "font-family: 'Lato', sans-serif;";

$dark: #3F7DA7   !default;

$primary: $dark !default;
$font-size-base: 0.9rem !default;
$lead-font-size: 0.9rem !default;
$lead-font-weight: 400 !default;

$navbar-dark-color: rgba(#FFFFFF, 1.0) !default;
$navbar-dark-hover-color: rgba(#FFFFFF, 0.5) !default;
$navbar-dark-active-color: #FFFFFF !default;
$navbar-dark-disabled-color: rgba(#FFFFFF, 0.25) !default;

$info: rgba(#FF4C2F, 0.75) !default;

$primary: #3F7DA7;
$secondary: #FF4C2F;
