{{/* We cache this partial for bigger sites and set the active class client side. */}}
{{ $shouldDelayActive := ge (len .Site.Pages) 2000 }}
<div id="td-sidebar-menu" class="td-sidebar__inner{{ if $shouldDelayActive }} d-none{{ end }}">
  {{ if not .Site.Params.ui.sidebar_search_disable }}
  <form class="td-sidebar__search d-flex align-items-center">
    {{ partial "search-input.html" . }}
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>
  {{ else }}
  {{/* With small screen width: this "d-block d-lg-none" element. With wide screen width: "d-none d-lg-block" in navbar.html */}}
  <div id="content-mobile" class="d-block d-lg-none">
  <form class="td-sidebar__search d-flex align-items-center">
    {{ partial "search-input.html" . }}
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>
  </div>
  <div id="content-desktop" class="d-none d-lg-block"></div>
  {{ end }}
  <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
    {{/* With small screen width: this "d-block d-lg-none" element. With wide screen width: "d-none d-lg-block" in navbar.html */}}
    {{ if .Site.Params.versions }}
    <div class="nav-item dropdown d-block d-lg-none">
      {{ partial "navbar-version-selector.html" . }}
    </div>
    {{ end }}
    {{/* With small screen width: this "d-block d-lg-none" element. With wide screen width: "d-none d-lg-block" in navbar.html */}}
    {{ if  (gt (len .Site.Home.Translations) 0) }}
    <div class="nav-item dropdown d-block d-lg-none">
      {{ partial "navbar-lang-selector.html" . }}
    </div>
    {{ end }}
    {{ template "section-tree-nav-section" (dict "page" . "section" .FirstSection "delayActive" $shouldDelayActive)  }}
  </nav>
</div>
{{ define "section-tree-nav-section" }}
{{ $s := .section }}
{{ $p := .page }}
{{ $subTopics := and ($p.IsDescendant $s) }}
{{ $subToc := .Params.tags}}
{{ $shouldDelayActive := .delayActive }}
{{ $active := eq $p.CurrentSection $s }}
{{ $show := or (and (not $p.Site.Params.ui.sidebar_menu_compact) ($p.IsAncestor $s)) ($p.IsDescendant $s) }}
{{ $sid := $s.RelPermalink | anchorize }}
{{  if not (in $s.Params.tags "parenttopic") }} <ul class="td-sidebar-nav__section pr-md-3"> {{ end }}
<li class="{{ if in $s.Params.tags "parenttopic" }} td-sidebar-link td-sidebar-link__sub_section_title {{ else }}  td-sidebar-nav__section-title {{ end }}">
    <a href="{{ $s.RelPermalink }}" class="align-left pl-0 pr-2{{ if not $show }} collapsed{{ end }}{{ if $active}} active{{ end }} {{ if in $s.Params.tags "parenttopic" }} td-sidebar-link td-sidebar-link__page {{ else }} td-sidebar-link td-sidebar-link__section {{ end }}">{{ $s.LinkTitle }}</a>
  </li>
  <ul class="side-main">
    <li class="" id="{{ $sid }}">
      {{ $pages := where (union $s.Pages $s.Sections).ByWeight ".Params.toc_hide" "!=" true }}
      {{ $pages := $pages | first 50 }}
      {{ range $pages }}
      {{ if .IsPage }}
      {{ $mid := printf "m-%s" (.RelPermalink | anchorize) }}
      {{ $active := eq . $p }}
        <a style="{{ if $subTopics }}  display: block !important; {{end}}"  class="td-sidebar-link td-sidebar-link__page {{ if and (not $shouldDelayActive) $active }} active{{ end }} {{ if in .Params.tags "subtopic" }}sub-section-child-topic{{ end }}" id="{{ $mid }}" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{ else }}
      {{ template "section-tree-nav-section" (dict "page" $p "section" .) }}
      {{ end }}
      {{ end }}
    </li>
  </ul>
  {{  if not (in $s.Params.tags "parenttopic") }} </ul> {{ end }}
{{ end }}
<script>
  $('.td-sidebar-nav').scrollTop(localStorage.getItem("currentPosition"))
  var currentPosition = 0;
  $(".td-sidebar-nav" ).scroll(function() {
    currentPosition = $('.td-sidebar-nav').scrollTop()
    localStorage.setItem("currentPosition",currentPosition);
  });
</script>